{{ order.date|date:"d-m-y / H:i" }} на сайт поступил новый заказ с номером {{ order.id }}.

<h3>Состав заказа</h3>
{% for item in order.cart.items.all %}
    <p>{{item.name}} - {{item.qty}} шт. </p>
{% endfor %}
    <p>Общая сумма заказа: {{order.cart.total}} рублей</p>


<h3>Параметры доставки</h3>
<p>Способ доставки: {{order.get_delivery_method_display }}</p>
<p>Город доставки: {{order.city }}</p>
<p>Адрес доставки: {{order.delivery_address }}</p>
<p>Транспортная компания: {{order.delivery_company}}</p>
<p>Способ оплаты: {{order.get_pay_type_display}}</p>


<h3>Информация о клиенте</h3>
<p>Имя: {{ order.first_name }}</p>
<p>Фамилия: {{ order.last_name }}</p>
<p>Телефон: {{ order.phone }}</p>
<p>Email: {{ order.email }}</p>

<p>Полную информацию о заказе можно также посмотреть в разделе "Заказы" в интерфейсе администратора сайта.</p>